openapi: 3.0.0
info:
  version: latest
  title: F1 Data API
  description: This is the API for the F1 Data project

servers:
  - url: https://api.bthree.uk/f1/v1
    description: Production server

tags:
  - name: seasons
    description: Operations about F1 seasons
  - name: drivers
    description: Operations about F1 drivers
  - name: constructors
    description: Operations about F1 constructors
  - name: races
    description: Operations about F1 races

paths:
  /seasons:
    get:
      summary: Get all seasons
      operationId: getSeasons
      tags:
        - seasons
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/query_year'
        - $ref: '#/components/parameters/query_year_min'
        - $ref: '#/components/parameters/query_year_max'
      responses:
        '200':
          description: A list of all seasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/season_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

  /seasons/{year}/races:
    get:
      summary: Get all races for a season
      operationId: getSeasonRaces
      tags:
        - seasons
        - races
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/path_year'
      responses:
        '200':
          description: A list of all races for the specified season
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/race_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '404':
          description: No races found for the specified season
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

  /races/{race_id}/results:
    get:
      summary: Get all results for a season
      operationId: getRaceResults
      tags:
        - seasons
        - races
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/path_race_id'
      responses:
        '200':
          description: A list of all results for the specified season
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/race_result_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '404':
          description: Race not found with the specified ID
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

  /championships/{year}/drivers:
    get:
      summary: Get all drivers for a season
      operationId: getDriversChampionship
      tags:
        - seasons
        - drivers
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/path_year'
        - $ref: '#/components/parameters/query_name'
        - $ref: '#/components/parameters/query_tag'
        - $ref: '#/components/parameters/query_team'
      responses:
        '200':
          description: A list of all drivers for the specified season
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driver_championship_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '404':
          description: Championship not found with the specified year
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

  /championships/{year}/constructors:
    get:
      summary: Get all drivers for a season
      operationId: getConstructorsChampionship
      tags:
        - seasons
        - constructors
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/path_year'
        - $ref: '#/components/parameters/query_name'
      responses:
        '200':
          description: A list of all constructors for the specified season
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/constructor_championship_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '404':
          description: Championship not found with the specified year
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

  /drivers:
    get:
      summary: Get all drivers
      operationId: getDrivers
      tags:
        - drivers
      parameters:
        - $ref: '../common/common.yaml#/components/parameters/limit_param'
        - $ref: '../common/common.yaml#/components/parameters/last_value'
        - $ref: '../common/common.yaml#/components/parameters/last_id'
        - $ref: '../common/common.yaml#/components/parameters/sort_by'
        - $ref: '../common/common.yaml#/components/parameters/sort_direction'
        - $ref: '#/components/parameters/query_name'
        - $ref: '#/components/parameters/query_tag'
        - $ref: '#/components/parameters/query_team'
        - $ref: '#/components/parameters/query_nationality'
      responses:
        '200':
          description: A list of all drivers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/driver_response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '../common/common.yaml#/components/schemas/error_message'

components:
  parameters:
    query_year:
      name: year
      in: query
      description: The year of the season
      required: false
      schema:
        type: integer
        format: int64
    query_year_min:
      name: year_min
      in: query
      description: The minimum year of the season
      required: false
      schema:
        type: integer
        format: int64
    query_year_max:
      name: year_max
      in: query
      description: The maximum year of the season
      required: false
      schema:
        type: integer
        format: int64
    query_name:
      name: name
      in: query
      description: The name to filter by
      required: false
      schema:
        type: string
    query_tag:
      name: tag
      in: query
      description: The tag to filter by
      required: false
      schema:
        type: string
    query_team:
      name: team
      in: query
      description: The team to filter by
      required: false
      schema:
        type: string
    query_nationality:
      name: nationality
      in: query
      description: The nationality to filter by
      required: false
      schema:
        type: string
    path_year:
      name: year
      in: path
      description: The year of the season
      required: true
      schema:
        type: integer
        format: int64
    path_race_id:
      name: race_id
      in: path
      description: The ID of the race
      required: true
      schema:
        type: integer
        format: int64

  schemas:
    season_response:
      type: object
      properties:
        seasons:
          type: array
          items:
            $ref: '#/components/schemas/season'
        total:
          type: integer
          format: int64

    season:
      type: object
      properties:
        id:
          type: integer
          format: int64
        year:
          type: integer
          format: int64

    race_response:
      type: object
      properties:
        races:
          type: array
          items:
            $ref: '#/components/schemas/race'
        total:
          type: integer
          format: int64

    race:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        date:
          type: string
          format: date

    race_result_response:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/race_result'
        total:
          type: integer
          format: int64

    race_result:
      type: object
      properties:
        id:
          type: integer
          format: int64
        position:
          type: string
        driver_number:
          type: integer
          format: int64
        driver_name:
          type: string
        driver_tag:
          type: string
        team_name:
          type: string
        laps_completed:
          type: integer
          format: int64
        time_or_retired:
          type: string
        points:
          type: number

    driver_championship_response:
      type: object
      properties:
        drivers:
          type: array
          items:
            $ref: '#/components/schemas/driver_championship'
        total:
          type: integer
          format: int64

    driver_championship:
      type: object
      properties:
        id:
          type: integer
          format: int64
        position:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
        nationality:
          type: string
        team:
          type: string
        points:
          type: number

    driver_response:
      type: object
      properties:
        drivers:
          type: array
          items:
            $ref: '#/components/schemas/driver'
        total:
          type: integer
          format: int64

    driver:
      type: object
      properties:
        name:
          type: string
        tag:
          type: string
        nationality:
          type: string

    constructor_championship_response:
      type: object
      required: ['constructors']
      properties:
        constructors:
          type: array
          items:
            $ref: '#/components/schemas/constructor_championship'
        total:
          type: integer
          format: int64

    constructor_championship:
      type: object
      properties:
        id:
          type: integer
          format: int64
        position:
          type: integer
          format: int64
        name:
          type: string
        points:
          type: number
